<section>
  <div class="title">
    <h1>Contato</h1>
    <app-divider></app-divider>
  </div>
  <div class="box-container">
    <div class="home-box">
      <form>
        <div class="m-row d-flex align-items-center   justify-content-between">
          <input type="text" name="name" placeholder="Nome*" required>
          <input type="email" name="email" placeholder="E-mail*" required>
        </div>
        <textarea name="message" required placeholder="Mensagem*"></textarea>
        <div class="text-center">
          <button type="submit" class="m-button dark">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>