@import "../../styles/vars.scss";

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.home-box {
  @include gradient();
  width: 95%;
  max-width: 780px;
  padding: 40px;
  border-radius: 10px;
}